.cont{
    border: 2px solid red;
    width: 200px;
    margin: 30px;
    padding: 30px;

}
#id-1{
    position:absolute; 
    
}
#id-2{
    position:absolute; 
   
}
#id-3{
    position:absolute; 
    
}