*{
    margin: 0%;
}
header{
background-color: #e2dd52;
height: 100px;
border: 3px solid rgb(42, 153, 165);
}
main{
    background-image: url("/CSS/Media/3987.gif");
    height: 500px;

}
footer{
    background-color: #e2dd52;
    height: 300px;

}
div{
    color: rgb(120, 9, 22); 
    
}
ul{
    display: flex;
    justify-content: space-between;
}
.main{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;

}