.container{
    background-color:rgb(74, 195, 228);
    height: 15vh;
    width:15vh;
    border-radius: 10%;
    animation-name: cart1;
   animation-duration: 6s;
   animation-direction: alternate-reverse;
   animation-iteration-count: infinite;
   
  
}
.main{
    background-color: blue;
}
@keyframes cart1 {
    to{position: relative;
        left: 200vh;
        transform: rotateY(0turn) scale(50%) skew(50deg 20deg);
        box-shadow: 10px 5px 6px red;
        z-index: 0;
    }
    from{
        position: relative;
        transform: rotateY(2turn) scale(10%);
        scale: 1vh;
        left: 0vh;
        box-shadow: 10px 5px 6px red;
        z-index: 1;
    }
}

